<div class="header-container">
    <img class = "header-image" src="/assets/imgs/people-jogging-in-place.jpg" alt="people jogging in place outside" srcset="">
    <div class="header-text">
        <h1>Welcome to KSU Weight Loss Tracker</h1>
        <button type="button" class="btn btn-outline-warning" [routerLink]="'signup'">Get Started</button>
    </div>
</div>
<!---Our Purpose-->
<div class="container">
    <i class="material-symbols-outlined">sports_gymnastics</i>
    <h2>Our Purpose</h2>
    <p>Ultimately the goal is the creation of a web-based interface that would allow clinicians to conduct a pilot study of the predictive powers of the algorithm and value in managing obesity.</p>
</div>