<!-- Navbar -->
<div class="navbar navbar-expand-lg fixed-top">
  <a [routerLink]="['']" class="navbar-brand">KSU Weightloss Tracker</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="pull-right">
    <ul class="nav navbar-nav">
      <li>
          <button type="button" class="btn btn-link px-3 me-2">
            Login
          </button>
          <button type="button" class="btn btn-dark me-3">
            Sign up for free
          </button>
      </li>
      <!--<li class="nav-item">
        <div id="custom-search" class="top-search-bar">
            <input class="form-control" type="text" placeholder="Search..">
        </div>
      </li>-->
      <!--<button type="button" class="icon-button">
        <span class="material-icons"> notifications</span>
        <span class="icon-button__badge">2</span>
      </button> -->
    </ul>
    </div>
   </div>
  </div>
  <!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    Container wrapper 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       Navbar brand 
      <a class="navbar-brand" href="#">KSU Weight Loss Trackers</a>     
  
       Collapsible wrapper 
         Left links 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
        </ul>
         Left links 
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3">
            Sign up for free
          </button>
        </div>-->
        <!-- Collapsible wrapper 
      </div>
     Container wrapper 
  </nav>
   Navbar -->
