* {
    box-sizing: border-box;
}

.error {
    border: 1px solid red;
}

small {
    font-size: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.header h1 {
    font-size: 50px;
}

.header p {
    color: #000;
    margin-top: 30px;
    font-size: 15px;
    padding: 5px 200px;
    text-align: center;
}

.row {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-wrap: nowrap;
}

form {
    height: 100%;
    width: 600px;
    background-color: #ffc629;
    position: relative;
    box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

form h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

form p {
    text-align: center;
}

form .form-group {
    margin: 20px;
    text-align: center;
    font-size: 15px;
}

form input, .custom-select {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    height: 40px;
}

form button {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
}

.calcs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}