<!---
<div class="calcs">
    <p id= "targetWeight">Target Body Weight: {{this.targetWeight}}</p>
    <p id= "targetBodyFatPercentage">Target Body Fat Percentage: {{this.targetBodyFatPercentage}}</p>
    <p id= "stepsPerDay">Steps Per Day: {{this.stepsPerDay}}</p>
</div>-->

<section style="background-color: #eee;">
    <div class="container py-5">     
      <div class="row">
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">John Smith</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Sex</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">example@example.com</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Current Weight (lbs)</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">265</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Target Weight (lbs)</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">150</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Height (inches)</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">69</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Today's Step Count</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">9465</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Target Step Count</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">10756</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row2">
            <app-chart></app-chart>
        </div>
      </div>
    </div>
  </section>
