section {
  position: relative;
  margin-left: 10rem;
}

.row {
  display: flex;
  justify-content: center;
  margin-left: 7rem;
}

.card {
  box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 150px; 
  height:150px;
  object-fit: cover;
}

