section {
  position: relative;
  margin-left: 10rem;
}

.row {
  display: flex;
  justify-content: center;
  margin-left: 7rem;
}

.profile-form {
  width: 70%; 
 }

 .profile-full-width {
  width: 100%; 
  } 

