<!--Main Content-->
<div class="container">
<div class="row">
    <div class="column1">
        <div class="image img-cir img-120">
            <img src="assets/img/avatar-01.jpg" alt="John Doe" />
        </div>
        <div class="user-info">
            <h4 class="name">John Doe</h4>
            <h5 class="email">someone@gmail.com</h5>
            <a href="#">Sign out</a>
        </div>
    </div>
    <div class="column2">
        <div class="row1">
            <form class="profile-form"  >
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <mat-grid-list cols="2" gutterSize="1px" rowHeight="60px">
                        <mat-grid-tile>
                            <label>Name</label>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <div class="form-group">
                                <input 
                                    type="text" 
                                    id="username" 
                                    class="form-control" 
                                    [disabled]="isDisabled"
                                    ngModel
                                    name="username" >
                            </div>
                        </mat-grid-tile>
    
                        <mat-grid-tile>
                            <label>Email</label>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <div class="form-group">
                                <input type="email"  
                                    type="email" 
                                    id="email" 
                                    class="form-control"
                                    [disabled]="isDisabled"
                                    ngModel
                                    name="email" />
                            </div>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <label>Sex</label>
                        </mat-grid-tile>
                        
                        <!-- <mat-grid-tile>
                            <mat-form-field class="profile-full-width">
                            <mat-label>Sex</mat-label>
                            <mat-select>
                                <mat-option value="option">Male</mat-option>
                                <mat-option value="option">Female</mat-option>
                            </mat-select>
                            
                            </mat-form-field>
                        </mat-grid-tile> -->

                        <!--Main Content-->
                        <mat-grid-tile>
                            <div class="form-group">
                               <select   
                                    id="sex"
                                    class="form-control"
                                    [disabled]="isDisabled"
                                    ngModel
                                    name="sex" >
                                    <option value="male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <label>Current Weight</label>
                        </mat-grid-tile>
    
                        <mat-grid-tile>
                            <div class="form-group">
                            <input  
                                type="text" 
                                id="current-weight"
                                class="form-control"                            
                                [disabled]="isDisabled"
                                ngModel
                                name="current-weight" />
                            </div>
                        </mat-grid-tile>
    
                        <mat-grid-tile>
                            <label>Target Weight</label>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <div class="form-group">
                            <input 
                                type="text"
                                id="target-weight"
                                class="form-control"                        
                                [disabled]="isDisabled"
                                ngModel
                                name="target-weight" />
                            </div>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                        <label>Step Count</label>
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <div class="form-group">
                            <input
                                type="text"
                                id="step-count"
                                class="form-control"                        
                                [disabled]="isDisabled"
                                ngModel
                                name="step-count" />
                            </div>                
                        </mat-grid-tile>
                        
                        <mat-grid-tile>
                            <label>Prescribed Step Count</label>
                        </mat-grid-tile>
    
                        <mat-grid-tile>
                            <div class="form-group">
                            <input  
                                type="text"
                                id="prescribed-step"
                                class="form-control"
                                disabled="true"
                                ngModel
                                name="prescribed-step" />
                            </div>
                        </mat-grid-tile>
                        
                    </mat-grid-list>  
                </div>
                
                <button class="btn btn-primary" 
                    type="submit"
                    (click)="edit()" 
                    style="margin-left: 300px"
                    >Edit</button>
                <button class="btn btn-primary" 
                    type="submit" 
                    style="margin-left: 50px"
                    (click)="update()"
                    >Update</button>       
                    
            </form>
            
            
        </div>
    </div>
    <div class="row2">
        <app-chart></app-chart>
    </div>
  </div> 
</div>




