<section class="vh-100 bg-image"
  style="background-image: url('/assets/imgs/berries.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form [formGroup]="loginForm">

                <div class="form-group form-outline mb-4">
                  <input type="text" id="username" class="form-control form-control-lg" formControlName="username" [ngClass]="{error : getControl('username')?.errors && getControl('username')?.touched}"/>
                  <label class="form-label" for="LoginForm">Username</label>
                  <div *ngIf="getControl('username')?.errors && getControl('username')?.touched">
                    <small class="text-danger" *ngIf="getControl('username')?.errors?.['required']">Username is required</small>
                </div>
                </div>

                <div class="form-group form-outline mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" formControlName="password" [ngClass]="{error : getControl('password')?.errors && getControl('password')?.touched}"/>
                  <label class="form-label" for="LoginForm">Password</label>
                  <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                    <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">Password is required</small>
                </div>

                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-warning btn-block btn-lg text-body" [disabled]="loginForm.status === 'INVALID'" (click)="onsubmit()">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account yet? <a [routerLink]="['/signup']"
                    class="fw-bold text-body"><u>Signup here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
