<div class="sidenav">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/user-profile']">
            <i class="fa fa-user" aria-hidden="true" style="color: #fff;"></i>
            <span class="sidenav-link-text">Profile</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/add-steps']">
            <i class="fa fa-plus" aria-hidden="true" style="color: #fff;"></i>
            <span class="sidenav-link-text">Add Steps</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/progress']">
            <i class="fa fa-tasks" aria-hidden="true" style="color: #fff;"></i>
            <span class="sidenav-link-text">Progress</span>
        </a>
      </li>
    </ul>
  </div>